/**top part开始**/
.top-part{
	margin-bottom:20px;
}
.top-line{
	height:41px;
	width:100%;
}
.hr-line{
	border-top:1px solid #c79c60;
	height:0px;
}
.product-name{
	font-family:"Damion";
	width:350px;
	float:left;
}


/**top part结束**/

.slider-part{
	height:700px;
	width:75%;
	float:left;
	position:relative;
}
.slider-show{
	position:absolute;
	left:0px;
	top:0px;
	display:none;
}
.show-active{
	display:block;
}
/**price-part开始**/
.product-img{
	border:1px solid #c79c60;	
	margin-right:60px;
}
input{
	width:60px;
	text-align:center;
}
.price{
	width:150px;
	font-size:40px;
	color:#ce322e;  
}
.quantity span{
	font-size:18px;
}

.space{
	margin-top:30px;
}
.btn-order{
	margin-top:20px;
}
.btn-space{
	margin-right:20px;
}
/**price-part结束**/

/**btn-part开始**/
.btn-control{
	position:relative;
	top:30px;
	left:50px;
	width:25%;
	float:left;
}

.btn-parameter{
	position:absolute;
	width:70px;
	height:70px;
	background:#abc261;
	border-radius:50%;
	cursor:pointer;
	text-align:center;
	line-height:70px;
	color:#ffffff;
	font-weight:bold;
	transition:all 0.3s ease 0s;
}
.btn-parameter:hover{
	background:pink;
	height:80px;
	width:80px;
	line-height:80px;
	font-size:16px;
}
.btn-price{
	top:60px;
	left:60px;
}
.btn-intro{
	top:0px;
	left:0px;
}
.btn-feature{
	top:120px;
	left:0px;
}
.btn-video{
	top:0px;
	left:120px;
}
.btn-factory{
	top:120px;
	left:120px;
}
/**btn-part结束**/