body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1218px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:220px;
  top:40px;
  width:67px;
  height:29px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:305px;
  top:40px;
  width:67px;
  height:29px;
  font-family:'Times New Roman Negreta', 'Times New Roman';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:29px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:63px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:543px;
  top:26px;
  width:163px;
  height:57px;
  font-family:'PanRoman Oblique', 'PanRoman';
  font-weight:400;
  font-style:oblique;
  font-size:48px;
  color:#339999;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:57px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:491px;
  top:50px;
  width:51px;
  height:29px;
  font-family:'Source Sans Pro Italic', 'Source Sans Pro';
  font-weight:400;
  font-style:italic;
  font-size:28px;
  color:#938A49;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:702px;
  top:59px;
  width:29px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:12px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:29px;
  height:1px;
}
#u9 {
  position:absolute;
  left:734px;
  top:53px;
  width:138px;
  height:16px;
  font-family:'Century725 Cn BT Regular', 'Century725 Cn BT';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:16px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:1020px;
  top:29px;
  width:63px;
  height:63px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:63px;
}
#u12 {
  position:absolute;
  left:2px;
  top:24px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:108px;
  top:105px;
  width:1067px;
  height:10px;
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:1050px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1067px;
  height:1px;
}
#u14 {
  position:absolute;
  left:108px;
  top:19px;
  width:78px;
  height:73px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:73px;
}
#u15 {
  position:absolute;
  left:2px;
  top:28px;
  width:74px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:108px;
  top:593px;
  width:1067px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:1050px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1067px;
  height:1px;
}
#u17 {
  position:absolute;
  left:166px;
  top:639px;
  width:720px;
  height:270px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:270px;
}
#u18 {
  position:absolute;
  left:2px;
  top:127px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:166px;
  top:960px;
  width:273px;
  height:163px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:163px;
}
#u20 {
  position:absolute;
  left:2px;
  top:74px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:166px;
  top:1208px;
  width:720px;
  height:75px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:75px;
}
#u22 {
  position:absolute;
  left:2px;
  top:30px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:166px;
  top:1161px;
  width:311px;
  height:24px;
  font-size:20px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:24px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:166px;
  top:1370px;
  width:342px;
  height:50px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:50px;
}
#u26 {
  position:absolute;
  left:2px;
  top:17px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:166px;
  top:1322px;
  width:272px;
  height:24px;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  height:24px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:272px;
  white-space:nowrap;
}
#u29 {
  position:absolute;
  left:166px;
  top:1455px;
  width:672px;
  height:247px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:247px;
}
#u30 {
  position:absolute;
  left:2px;
  top:116px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:55px;
  top:134px;
  width:1163px;
  height:439px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:439px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:439px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:439px;
}
#u33 {
  position:absolute;
  left:2px;
  top:212px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:20px;
  top:30px;
  width:522px;
  height:390px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:522px;
  height:390px;
}
#u35 {
  position:absolute;
  left:2px;
  top:187px;
  width:518px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:581px;
  top:60px;
  width:350px;
  height:209px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:209px;
}
#u37 {
  position:absolute;
  left:2px;
  top:96px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:581px;
  top:296px;
  width:50px;
  height:50px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u39 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:640px;
  top:296px;
  width:50px;
  height:50px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u41 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:699px;
  top:296px;
  width:50px;
  height:50px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u43 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:980px;
  top:30px;
  width:56px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u45 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:1089px;
  top:30px;
  width:56px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u47 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:980px;
  top:119px;
  width:56px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u49 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:1089px;
  top:119px;
  width:56px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u51 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:1037px;
  top:78px;
  width:56px;
  height:56px;
  font-size:16px;
  color:#FFFFFF;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:56px;
}
#u53 {
  position:absolute;
  left:2px;
  top:18px;
  width:52px;
  word-wrap:break-word;
}
#u31_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1163px;
  height:439px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:165px;
  top:20px;
  width:350px;
  height:209px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:209px;
}
#u55 {
  position:absolute;
  left:2px;
  top:96px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:165px;
  top:256px;
  width:50px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:224px;
  top:256px;
  width:50px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:283px;
  top:256px;
  width:50px;
  height:50px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u61 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
